{% include 'header.njk' %}

<!-- PAGES -->
<div id="pageActualites">

    <img class="pages-img" src="{{ image }}" alt="{{ imageAlt }}">

    <h1 class="page-title">
        {{ title }}
    </h1>
    <div class="pages-content">
        {{ content | safe }}
    </div>
</div>

{% include 'footer.njk' %}