<a href="{{ post.url }}">
    <article class="article-snippet">

        <div id="article-left">
            <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
            <p class="snippet-date">par <span>{{post.data.author}}</span> le <span>{{ post.date | postDate }}</span></p>
        </div>

        <div>

            <h3>{{ post.data.title }}</h3>
            <p class="snippet-desc">{{post.data.description}}...</p>
        </div>

    </article>
</a>