<article class="article-snippet">

    <div id="article-left">
        <a href="{{ post.url }}">
            <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
        </a>
        <p>par <span>{{post.data.author}}</span> le <span>{{ post.date | postDate }}</span></p>
    </div>

    <div>
        <h3>{{ post.data.title }}</h3>
        <p>{{post.data.description}}
            <a href="{{ post.url }}">... Lire la suite</a>
        </p>
    </div>

</article>