<div id="mobileMenuMairie">
    <i class="fa-solid fa-xmark" id="burgerClose"></i>
    <div id="menuMobileMairie">
        <p><a href="/" id="mobileMenuMairieActualites">Actualités</a></p>
        <p><a href="#" id="mobileMenuMairieMotDuMaire">Mot du maire</a></p>
        <p><a href="#" id="mobileMenuMairieEquipeMunicipale">Equipe municipale</a></p>
        <p><a href="#" id="mobileMenuMairieDeliberations">Délibérations</a></p>
        <p><a href="#" id="mobileMenuMairieJournauxMunicipaux">Journaux municipaux</a></p>
        <p><a href="#" id="mobileMenuMairieMarchePublic">Marché public</a></p>
        <p><a href="#" id="mobileMenuMairiePLU">PLU</a></p>
        <p><a href="#" id="mobileMenuMairieRealisations">Réalisations</a></p>
        <p><a href="#" id="mobileMenuMairieDecouvrirCatenay">Découvrir Catenay</a></p>
        <p><a href="#" id="mobileMenuMairieConseilMunicipalDesJeunes">Conseil Municipal des Jeunes</a></p>
    </div>
</div>