---
title: Actualités
layout: base.njk
---

<div">
  <h1>Articles</h1>

  <ul role="list">

    {%- for post in collections.post | reverse -%}
    {% include 'article-snippet.njk' %}
    {%- endfor %}

  </ul>

  </div>