{% include 'header.njk' %}

<!-- PAGES -->
<div id="pageActualites">

    <div id="divImg">
        <p class="animate__animated animate__fadeInLeft animate__1 animate__slower">Bienvenue à Catenay</p>
    </div>

    {%- for post in collections.post | reverse -%}
    {% include 'article-snippet.njk' %}
    {%- endfor %}

</div>

{% include 'footer.njk' %}