* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html {
    /* scroll-behavior: smooth; */
    --bgColor: rgb(214, 227, 236);
    --accentColor: rgb(64, 191, 149);
    --whiteColor: rgb(255, 255, 255);
    --lFocusColor: rgb(42, 54, 65);
    --tFocusColor: rgb(42, 54, 65);
    --pgColor: rgb(213, 243, 237);
    --swColor1: rgb(144, 163, 182);
    --swColor2: rgb(64, 191, 149);
    --swColor3: rgb(144, 163, 182);
    --swColor4: rgb(144, 163, 182);
    --snippetColor: rgb(64, 191, 149);
    --lmenuColor: rgb(144, 163, 182);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
    background: var(--accentColor);
}

body {
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
}

/* MENU DESKTOP */
#menuBar {
    background-color: var(--bgColor);
    width: 100%;
    max-width: 960px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

#menuBarLeft {
    width: 250px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnContact {
    width: 120px;
    height: 35px;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--bgColor);
    background-color: var(--accentColor);
    border-style: none;
    border-radius: 5px;
    margin-left: 30px;
}

#btnContact:hover {
    color: var(--whiteColor);
}

#menuBarRight {
    width: 710px;
    height: 64px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#menuBar a {
    text-decoration: none;
    color: var(--lmenuColor);
    padding-right: 30px;
    font-weight: bold;
    font-size: 1.1em;
}

#menuBar a:hover {
    color: var(--accentColor);
}

#linkMairie {
    position: relative;
}

#sub-menu-mairie {
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    margin-top: 20px;
    left: 0px;
    padding: 15px;
    line-height: 30px;
}

#linkAssociations {
    position: relative;
}

#sub-menu-associations {
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    margin-top: 20px;
    left: -40px;
    padding: 15px;
    line-height: 30px;
}

#linkEcole {
    position: relative;
}

#sub-menu-ecole {
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    margin-top: 20px;
    left: -80px;
    padding: 15px;
    line-height: 30px;
}

#linkLoisirs {
    position: relative;
}

#sub-menu-loisirs {
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    margin-top: 20px;
    left: -120px;
    padding: 15px;
    line-height: 30px;
}

#linkPratique {
    position: relative;
}

#sub-menu-pratique {
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    margin-top: 20px;
    right: -50px;
    padding: 15px;
    line-height: 30px;
}

#linkDemarches {
    position: relative;
}

#sub-menu-demarches {
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    margin-top: 20px;
    right: -10px;
    padding: 15px;
    line-height: 30px;
}

#linkProfessionnels {
    position: relative;
}

#sub-menu-professionnels {
    border-radius: 5px;
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    margin-top: 20px;
    right: 30px;
    padding: 15px;
    line-height: 30px;
}

/* MENU MOBILE */
#burger {
    font-size: 32px;
    margin-right: 30px;
    color: var(--lmenuColor);
    display: none;
}

#burger:hover {
    color: var(--accentColor);
}

#mobileMenu {
    background-color: var(--bgColor);
    width: 100%;
    height: 100vh;
    display: none;
    position: absolute;
    color: var(--lFocusColor);
    font-size: 32px;
    text-align: right;
    z-index: 2;
    overflow: hidden;
}

#mobileMenu div {
    text-align: center;
    line-height: 2em;
}

#mobileMenu a {
    text-decoration: none;
    color: var(--lmenuColor);
}

#mobileMenu a:hover {
    color: var(--accentColor);
}

#burgerClose {
    margin-right: 32px;
    margin-top: 15px;
    color: var(--lmenuColor);
}

#burgerClose:hover {
    color: var(--accentColor);
}

/* PAGES */
#pageActualites {
    background-color: var(--bgColor);
    width: 100%;
    max-width: 960px;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: var(--tFocusColor);
}

#pageActualites a {
    color: var(--tFocusColor);
    font-weight: bold;
    font-size: 1.0em;
}

#divImg {
    width: 100%;
    max-width: 960px;
    height: 380px;
    margin-top: 32px;
    margin-bottom: 10px;
    background-image: url("./assets/imgAcc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-right: 30px;
    text-align: right;
}

#divImg p {
    font-weight: bold;
    font-size: 2.5em;
    color: rgb(214, 227, 236);
    text-shadow: rgba(0, 0, 0, 0.33) 3px 3px 3px;
}

#divBtnDarkLight {
    width: 100%;
    max-width: 960px;
    height: 15px;
    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
    padding-right: 10px;
}

#xtraLightBtn {
    color: var(--bgColor);
    background-color: var(--swColor1);
}

#medLightBtn {
    color: var(--bgColor);
    background-color: var(--swColor2);

}

#medDarkBtn {
    color: var(--bgColor);
    background-color: var(--swColor3);
}

#xtraDarkBtn {
    color: var(--bgColor);
    background-color: var(--swColor4);
}

/* SNIPPET */
.article-snippet {
    border-radius: 5px;
    background-color: var(--snippetColor);
    width: 90%;
    max-width: 960px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 20px;
    display: flex;
    flex-flow: row;
    display: flex;
    flex-flow: row;
}

#article-left {
    text-align: center;
    padding: 10px;
    color: var(--lFocusColor);
}

.article-snippet img {
    max-width: 320px;
    max-width: 240px;
    border-radius: 5px;
    /* margin-right: 20px; */
}

.article-snippet h3 {
    font-weight: bold;
    font-size: 2.0em;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.8) 2.5px 2.5px 3px;
    margin-bottom: 10px;
}

.snippet-desc {
    font-weight: bold;
    font-size: 1.0em;
    color: var(--lFocusColor);
    margin-bottom: 5px;
}

/* FULL PAGES */
.pages-img {
    width: 100%;
    max-width: 960px;
    /* height: 440px; */
}

.page-title {
    font-weight: normal;
    font-size: 2.0em;
    color: var(--tFocusColor);
    margin: 20px;
}

.pages-content {
    width: 90%;
    border-radius: 5px;
    background-color: var(--pgColor);
    padding: 20px;
    margin-bottom: 64px;
}

/* MEDIA QUERRY */
@media (max-width: 860px) {

    .article-snippet {
        flex-flow: column-reverse;
    }

    #burger {
        display: block;
    }

    #menuBar a {
        display: none;
    }

    .article-snippet img {
        max-width: 100%;
        /* max-width: 120px; */
        border-radius: 5px;
    }
}